.tan-c {
  color: #ad9986 !important;
}

.orange {
  color: #ff851b;
}
.load-align {
  padding-top: 15px;
}

.message-color {
  color: white !important;
}

.noClasses {
  margin: 0 !important;
  text-decoration: none !important;
  color: #21ba45 !important;
}

.image-header {
  background-color: #333333 !important;
}

.image-body {
  color: #ff851b !important;
}

.data {
  padding-top: 20px;
  color: black;
}

.image-footer {
  background-color: #333333 !important;
}
